/* General Styles and Typography */
body{
    background-color: #f5f4f4;
}
.nev-bar{
    max-width: 1740px;
    height: 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    height: 50px;
}
.desktop-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}
.desktop-nav a{
    text-decoration: none;
    color: #000;
}
.home{
    font-weight: bold;
    color: #252432;
}
.desktop-nav li{
    color: #8987A1;
}
.desktop-nav span li{
    color: #000000;
}
.desktop-nav span li img{
    width: 20px;
}